#character {
    width: 100%;
    position: relative;
}

#character img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#quote {
    position: absolute;
    bottom: 20%;
    left: 20%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
}